@import '../../colors.css';

.layout {
    position: fixed;
    right: 0;
    bottom: 0;
    left: 0;
    top: 0;
    z-index: 1;
}

.noPlayground {
    & > .document {
        width: 100% !important;
    }
}

.withPlayground {
    & > .document {
        padding-left: 0;
    }

    & > .sider {
        transform: translateX(-100%);
    }

    & > .playground {
        transform: translateX(0);
    }
}

.document {
    position: fixed;
    bottom: 0;
    left: 0;
    top: 0;
    z-index: 1;
    padding-left: 200px;
    padding-right: 0;
    box-sizing: border-box;
    transition: padding 0.35s cubic-bezier(.4,0,.2,1);
}

.playground {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    width: 50%;
    background: #fff;
    box-shadow: -2px 0 4px rgba(0,0,0,.14);
    z-index: 1;
    transform: translateX(100%);
    transition: transform .35s cubic-bezier(.4,0,.2,1);
}

.sider {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    z-index: 100;
    transform: translateX(0);
    transition: transform 0.35s cubic-bezier(.4,0,.2,1);

    a {
        display: block;
    }
}

.playground-button {
    position: absolute;
    right: 37px;
    top: 37px;
    z-index: 101;
    background: var(--palette-green-500) !important;
    border-color: var(--palette-green-500) !important;
}
